 @media only screen and (max-width: 1200px) { }

 @media only screen and (max-width: 991px) { }

 @media only screen and (max-width: 767px) {
    
    .navbar-light .navbar-toggler-icon {
        background-color: white;
    }
    .nav-link {
        text-align: center;
    }
    
    
    .image-box img{
        margin-left: 15px;
    }

    .company-image-box img {
        width: 153px;
        margin-top: -3px;
    }

    .item img{
        max-width: 359px;   
    }

    .item-2 img {
        margin-left: 36px;
        padding-left: 46px;
        max-width: 239px;
    }

    .image-box h5{
        text-align: justify;
        margin-left: 8rem;
    }

    .background-text-box h2 {
        font-size: 13px;
    }

    .background-text-box p {
    margin-top: 14px;
    font-size: 10px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.804);
    }

    .background-text-box button {
        margin-top: 20px;
        background-color: black;
        color: white;
        text-transform: capitalize;
        font-size: 10px;
        padding: 10px 13px;
        border: 1px solid white;
        border-radius: 10px;
    }


    .background-para-box {
        text-align: center;
        margin-top: 25px;
    }

    .background-para-box h2{
        text-align: center;
        margin-top: 25px;
    }

    .background-title-box-section h2 {
        font-size: 60px;
        font-weight: 400;
        text-align: justify;
        color: white;
        position: relative;
        left: -17px;
    }
    .logo-text-box {
        margin-top: 30px;
        margin-bottom: -6px;
    }

    /* about-page */

    .about-us-section-wrapper .text-box p {
        font-size: 13px;   
    }

    .owl-carousel {
        margin-top: -9px;
    }

    .new-collection-text-box-2 button {
        margin-left: 2rem;
    }
    .new-collection-text-box-1 h2 {
        text-align: center;
    }
    .footer-wrapper {
        text-align: center;
    }
    .footer-box {
        margin-top: 21px;
    }
 }

 @media only screen and (max-width: 600px) { 

    table {
        display: block;   
        width: 100%;
        overflow-x: auto;
    }
 }

 @media only screen and (max-width: 575px) { }